apiVersion: v1
kind: Pod
metadata:
  name: fortune-https
spec:
  containers:
  - image: luksa/fortune:env
    name: html-generator
    # resources:
    #   requests:
    #     cpu: "100m"
    #     memory: "512M"
    #   limits:
    #     cpu: "1000m"
    #     memory: "512M"
    env:
    - name: INTERVAL
      valueFrom:
        configMapKeyRef:
          name: fortune-config
          key: sleep-interval
    volumeMounts:
    - name: html
      mountPath: /var/htdocs
  - image: nginx:alpine
    name: web-server
    # resources:
    #   requests:
    #     cpu: "100m"
    #     memory: "512M"
    #   limits:
    #     cpu: "1000m"
    #     memory: "512M"
    volumeMounts:
    - name: html
      mountPath: /usr/share/nginx/html
      readOnly: true
    - name: config
      mountPath: /etc/nginx/conf.d
      readOnly: true
      # Configured Nginx to read the cert and key file from /ect/nginx/certs, so you need to mount the secret volume there
    - name: certs
      mountPath: /etc/nginx/certs/
      readOnly: true
    ports:
    - containerPort: 80
    - containerPort: 443
  volumes:
  - name: html
    emptyDir: {}
  - name: config
    configMap:
      name: fortune-config
      items:
      - key: my-nginx-config.conf
        path: https.conf
    # define the secret volume here, referring to the fortune-https Secret
  - name: certs
    secret:
      secretName: fortune-https
